USE [master]
GO
/****** Object:  Database [Company]    Script Date: 21.5.2018. 15:02:15 ******/
CREATE DATABASE [Company]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Company', FILENAME = N'C:\Users\susen\Company.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Company_log', FILENAME = N'C:\Users\susen\Company_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Company].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Company]
GO
USE [Company]
GO
/****** Object:  UserDefinedFunction [dbo].[averageSalary]    Script Date: 21.5.2018. 15:02:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[averageSalary]()
returns decimal
as begin
	declare @average decimal;
	set @average = (select avg(a.salary) as Average from Employee a inner join Department b on a.departmentNo = b.departmentNo WHERE (b.departmentLocation not like 'London' and b.departmentName like 'Development'));
	return (@average);
end;
GO
/****** Object:  Table [dbo].[Department]    Script Date: 21.5.2018. 15:02:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[departmentNo] [int] IDENTITY(1,1) NOT NULL,
	[departmentName] [varchar](20) NOT NULL,
	[departmentLocation] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[departmentNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 21.5.2018. 15:02:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[employeeNo] [int] IDENTITY(1,1) NOT NULL,
	[employeeName] [varchar](50) NOT NULL,
	[salary] [int] NOT NULL,
	[departmentNo] [int] NULL,
	[lastModifyDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[employeeNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[countEmployees]    Script Date: 21.5.2018. 15:02:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[countEmployees]()
returns table
as
	return
		select a.departmentLocation as "Location", count(distinct b.employeeNo) as "Number"
		from Department a inner join Employee b on (a.departmentNo = b.departmentNo) 
		group by a.departmentLocation
		having count(distinct b.employeeNo) not like 1;
GO
/****** Object:  UserDefinedFunction [dbo].[devEmployees]    Script Date: 21.5.2018. 15:02:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[devEmployees]()
returns table
as
return
	select all a.departmentLocation as "Location", count(case a.departmentName when 'Development' then 1 else null end) as "Number"
	from Department a left join Employee b on (a.departmentNo = b.departmentNo)
	group by a.departmentLocation
GO
/****** Object:  View [dbo].[vwDepartment]    Script Date: 21.5.2018. 15:02:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [dbo].[vwDepartment] as
select departmentNo, departmentName + ' ' + departmentLocation as departmentDescription
from Department;
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([departmentNo])
REFERENCES [dbo].[Department] ([departmentNo])
GO
/****** Object:  StoredProcedure [dbo].[spIncreaseSalary]    Script Date: 21.5.2018. 15:02:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[spIncreaseSalary]  
    @id int,   
    @perc int   
as
    update Employee
	set salary = salary * (1 + @perc/100.00)
	where employeeNo = @id 
GO
USE [master]
GO
